
body {
  width: 800px;
  margin: 0 auto !important;
  background-color: white;
  background-repeat: no-repeat;
  font-size: 14pt;
  font-family: 'Ubuntu', 'Liberation Sans', sans-serif;
  color: #333333;
}

