---
layout: main
side_limitation: 4
---

<div class="tl_main_head">
  <div class="tl_main_side_blog">
    {% include side_blog.html %}
  </div>
  <div class="tl_main_logo_wrap">
    <a href="/" class="tl_main_logo">
      <img class="tl_main_logo" src="/img/t_logo.png" alt="Telegram logo">
      <div class="tl_main_logo_title_image"></div>
    </a>
    <p class="tl_main_logo_lead">{{ site.og_title }}</p>
  </div>
</div>

{% include menu.html %}

<div class="blog_entries">
  {% for post in site.posts %}
  <blockquote>
    <div>
      <span class="side_blog_date">{{ post.date | date: "%Y年%m月%d日" }}</span>
      [{{ post.categories | join: ', ' }}]
      <a href="{{ post.url | prepend: site.baseurl }}">
        <span class="side_blog_title">{{ post.title }}</span>
      </a>
    </div>
  </blockquote>
  {% endfor %}
</div>
