<div class="footer_wrap">
  <div class="footer_columns_wrap clearfix footer_desktop">
    <div class="footer_column footer_column_telegram">
      <h5>{{ site.title }}</h5>
      <div class="footer_telegram_description">{{ site.description }}</div>
    </div>
    <div class="footer_column">
      <h5>相關網站</h5>
      <ul>
        <li><a href="https://tg.gnehs.com.tw/">Telegram 蒐集君</a></li>
      </ul>
    </div>
    <div class="footer_column">
      <h5></h5>
      <ul>
        {% if site.github_username %}<li>{% include icon-github.html username=site.github_username %}</li>{% endif %}{% if site.twitter_username %}<li>{% include icon-twitter.html username=site.twitter_username %}</li>{% endif %}
      </ul>
    </div>
  </div>
  <div class="footer_columns_wrap clearfix footer_mobile">
    <div class="footer_column footer_column_telegram">
      <h5>{{ site.title }}</h5>
    </div>
    <div class="footer_column">
      <h5><a href="{{ site.baseurl | prepend: site.url }}/faq">關於</a></h5>
    </div>
    <div class="footer_column">
      <h5></h5>
      <ul>
        {% if site.github_username %}<li>{% include icon-github.html username=site.github_username %}</li>{% endif %}{% if site.twitter_username %}<li>{% include icon-twitter.html username=site.twitter_username %}</li>{% endif %}
      </ul>
    </div>
    <div class="footer_column footer_column_telegram">
      <div class="footer_telegram_description">{{ site.description }}</div>
    </div>
  </div>
</div>
