<div class="footer_wrap">
  <div class="footer_columns_wrap clearfix footer_desktop">
    <div class="footer_column footer_column_telegram">
      <h5>{{ site.title }}</h5>
      <div class="footer_telegram_description">{{ site.description }}</div>
    </div>
    <div class="footer_column">
      <h5>相關連結</h5>
      <ul>
        <li><a href="https://telegram.org/">官網</a></li>
        <li><a href="https://t.me/Tele_zh_TW">Telegram 中文頻道</a></li>
        <li><a href="https://t.me/tgbeta">開發版的消息</a></li>
        <li><a href="https://telegram.how/GeneralNews">Linux系統</a></li>   
      </ul>
    </div>
    <div class="footer_column">
      <h5>第三方應用</h5>
      <ul>
        <li><a href="https://telegre.at/">Telegreat</a></li>
      </ul>
    </div>
    <div class="footer_column">
      <h5>新手討論區</h5>
      <ul>
        <li><a href="https://t.me/gswtfgc">Telegram 新手討論區</a></li>
        <li><a href="https://t.me/TGQNA">Telegram 新手問答區</a></li>
        <li><a href="https://t.me/Newbie_Chat">Telegram 新手帮助</a></li>
        <li><a href="https://t.me/tlgrmHK">Telegram 香港支援群</a></li>
      </ul>
    </div>
  </div>
  <div class="footer_columns_wrap clearfix footer_mobile">
    <div class="footer_column">
      <ul>
        <li><a href="https://t.me/Tele_zh_TW">Telegram 中文頻道</a><li>
      </ul>  
    </div>
    <div class="footer_column">
      <ul>
        {% if site.github_username %}<li>{% include icon-github.html username=site.github_username %}</li>{% endif %}{% if site.twitter_username %}<li>{% include icon-twitter.html username=site.twitter_username %}</li>{% endif %}
      </ul>
    </div>
  </div>
</div>
