<div class="footer_wrap">
  <div class="footer_columns_wrap clearfix footer_desktop">
    <div class="footer_column footer_column_telegram">
      <h5>{{ site.title }}</h5>
      <div class="footer_telegram_description">{{ site.description }}</div>
    </div>
    <div class="footer_column">
      <h5>歡迎加入：</h5>
      <ul>
        <li><a href="https://t.me/Tele_zh_TW">Telegram 中文頻道</a></li>   
      </ul>
    </div>
  </div>
  <div class="footer_columns_wrap clearfix footer_mobile">
    <div class="footer_column">
      <ul>
        <li><a href="https://t.me/Tele_zh_TW">Telegram 中文頻道</a><li>
      </ul>  
    </div>
    <div class="footer_column">
      <ul>
        {% if site.github_username %}<li>{% include icon-github.html username=site.github_username %}</li>{% endif %}{% if site.twitter_username %}<li>{% include icon-twitter.html username=site.twitter_username %}</li>{% endif %}
      </ul>
    </div>
  </div>
</div>
