<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{{ site.fb_app_id }}',
          xfbml      : true,
          version    : 'v2.7'
        });
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>
      <div class="tl_page_wrap">

      {% include header.html %}

      <div class="container clearfix tl_page_container tl_main_page_container">
        <div class="tl_page">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
